@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<div class="text-center">
    <h2 class="display-4">
        Dependency Injection Lifetime
    </h2>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Service Type</th>
            <th>First Instance Operation ID</th>
            <th>Second Instance Operation ID</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <tdstyle ="background-color: darksalmon">
                Transient
                </td>
                <tdstyle ="background-color: darksalmon">
                    @ViewBag.transient1
                    </td>
                    <tdstyle ="background-color: darksalmon">
                        @ViewBag.transient2
                        </td>
        </tr>
        <tr>
            <td>Scoped</td>
            <td>@ViewBag.scoped1</td>
            <td>@ViewBag.scoped2</td>
        </tr>
        <tr>
            <tdstyle ="background-color: aquamarine">
                Singleton
                </td>
                <tdstyle ="background-color: aquamarine">
                    @ViewBag.singleton1
                    </td>
                    <tdstyle ="background-color: aquamarine">
                        @ViewBag.singleton2
                        </td>
        </tr>
    </tbody>
</table>
